
<!DOCTYPE html>
<html lang="en">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Joseph Mahon</title>

<style>
  body {
    font-family: sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 8px;
  }

html { 
    background: #2d3d31; 
    color: white; }

  a { 
    color: #6bf; 
    }
  a:visited {
    color: #f8f;
    }
  a:active {
    color: red; 
    }



</style>

<h1>Joseph Mahon</h1>




{{ test }}



{% for i in test2 %}

<p>
{{i}}
</p>

{% endfor %}